@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Kdam+Thmor+Pro&family=Moon+Dance&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700&family=Rowdies&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
    list-style-type: none;
    text-decoration: none;
}

header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

li{
    list-style: none;
    color:aliceblue;
    cursor: pointer;
    font-size: 26px;
    transition: .5s;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
}

li span{
    font-family: 'East Sea Dokdo', cursive;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 22px;
}

li:hover{
    color: #7f864c;
    transform: scale(1.1);
}

#logo{
    width: 120px;
    height: auto;
}

#banner{
    background-image: url('https://callmehollywood.files.wordpress.com/2011/06/harry-potter-banner-1.jpg');
    background-position: 50% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

#contato{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

h1{
    font-size: 26px;
    color: aliceblue;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top: 40px;
    text-align: center;
}

.formulario{
    width: 600px;
    height: 400px;
    padding: 30px;
    box-shadow: -1px 1px 18px 8px #292929;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-image: url('https://image.api.playstation.com/vulcan/ap/rnd/202208/0921/3XopdGAJGRy3xNQKnQDvaCRs.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.formulario label{
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
    display: block;
    color: aliceblue;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: transparent;
    text-align: start;
}

.formulario ::placeholder{
    color:black;
}

.formulario input{
    height: 40px;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.59);
}


.text_area{
    display: flex;
    flex-direction: column;
}


.txt{
    height:160px;
    width: 580px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(93, 91, 91, 0.839);
}



.btn_cont{
    width: 200px;
    height: 80px;
    background-color: #7f864c;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transform: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: center;
}

.btn_cont:hover{
    background-color: #fff;
    color:#000;
}

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span{
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer_navigate{
    display: none;
}

.footer_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:768px){
    .footer_navigate{
        display: block;
    }

    nav{
        display: none;
    }

    #banner{
        background-position: 99%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1{
        font-size: 18px;
    }

    .txt{
        height:90px;
        width: 93%;
    }
    .formulario{
        width: 60%;
    }

    .footer_navigate{
        margin-bottom: 20px;
    }
    

    footer span{
        font-size: 12px;
        margin-bottom: 10px;
    }
}